/* styles/globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* Your custom styles here */

/* @font-face {
    font-family: 'Philosopher';
    src: url('../public/fonts/Philosopher/Philosopher-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Philosopher';
    src: url('../public/fonts/Philosopher/Philosopher-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Tangarine';
    src: url('../public/fonts/Tangerine/Tangerine-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Tangarine';
    src: url('../public/fonts/Tangerine/Tangerine-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Playball';
    src: url('../public/fonts/Playball/Playball-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } */
  
  .intro-text{
    background-color: rgb(27, 27, 27, 0.5);
  }
  
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Playball';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    position: relative; /* Needed for the ::before pseudo-element */
    background-image: url('https://images.pexels.com/photos/1458680/pexels-photo-1458680.jpeg?cs=srgb&dl=pexels-lina-kivaka-1458680.jpg&fm=jpg&_gl=1*z7us07*_ga*MTcxMDIyMzYwOS4xNjY5ODIyODEx*_ga_8JE65Q40S6*MTY5NDE3NjI5OC4yMS4xLjE2OTQxNzcxOTIuMC4wLjA.');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::before {
    content: "";
    background-color: #ecfeff; /* Adjust opacity as needed */
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
     /* Place the overlay above the background image */
}

.menupage {
  position: relative; /* Needed for the ::before pseudo-element */
  background-image: url('https://images.pexels.com/photos/633501/pexels-photo-633501.jpeg?cs=srgb&dl=pexels-frans-van-heerden-633501.jpg&fm=jpg&_gl=1*1gxkajk*_ga*MTcxMDIyMzYwOS4xNjY5ODIyODEx*_ga_8JE65Q40S6*MTY5NDE4MTc5Ny4yMi4xLjE2OTQxODE3OTcuMC4wLjA.');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
}

.menupage::before {
  content: "";
  background-color: #ecfeff; /* Adjust opacity as needed */
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
   /* Place the overlay above the background image */
}

.reservationpage {
  position: relative; /* Needed for the ::before pseudo-element */
  background-image: url('https://images.pexels.com/photos/60258/pexels-photo-60258.jpeg?cs=srgb&dl=pexels-clem-onojeghuo-60258.jpg&fm=jpg&_gl=1*8a758c*_ga*MTcxMDIyMzYwOS4xNjY5ODIyODEx*_ga_8JE65Q40S6*MTY5NDE4MTc5Ny4yMi4xLjE2OTQxODMzNDQuMC4wLjA.');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

.reservationpage::before {
  content: "";
  background-color: #ecfeff; /* Adjust opacity as needed */
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
   /* Place the overlay above the background image */
}



/* Additional styles for your content */




/* Scrollbar styling for WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #155e75; 
  border-radius: 5px; 
}

/* Scrollbar styling for Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: #155e75;
}

/* Customize the thumb (the draggable part) */
body::-webkit-scrollbar-thumb {
  background-color: #00838F;
  border-radius: 5px;
}
body{
  background-color: #ecfeff;
}


/* Default styles for NavLink */
.NavLink {
  color: #67e8f9;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

/* Hover state */
.NavLink:hover {
  color: #ecfeff;
  text-decoration: underline;
}

/* Active state */
.NavLink.active {
  color: #ecfeff;
  text-decoration: none;
}

.menulink {
  color: #00838F;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

/* Hover state */
.menulink:hover {
  color: #67e8f9;
  text-decoration: underline;
}

/* Active state */
.menulink.active {
  color: #67e8f9;
  text-decoration: none;
}

.Menu {
  background-color: #155e75;
  list-style: none;
  color:  #67e8f9;
  padding: 1rem;
  font-weight: bold;
}

.cardo {
  background-image: url(../images/Newbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: grayscale(70%);
}

.gallery {
  filter: grayscale(50%);
}